services:
  app:
    #image: ${DOCKER_USERNAME}/deploy_review_x:latest
    build: .
    container_name: review-xxx-server
    ports:
      - "9090:9090"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_URI_GAMES=${MONGODB_URI_GAMES}
      - TWITCH_CLIENT_ID=${TWITCH_CLIENT_ID}
      - TWITCH_CLIENT_SECRET=${TWITCH_CLIENT_SECRET}
      - PROVIDER_SECRET_KEY=${PROVIDER_SECRET_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION_IN_MS=${JWT_EXPIRATION_IN_MS}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - AWS_REGION=${AWS_REGION}
      - AWS_BUCKET=${AWS_BUCKET}
      - FRONTEND_URL=${FRONTEND_URL}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - REDIS_URL=${REDIS_URL}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - SPRING_DATA_REDIS_URL=${SPRING_DATA_REDIS_URL}
      - AUTH_COOKIE_SECURE=${AUTH_COOKIE_SECURE}
      - JWT_SECRET=${JWT_SECRET}
    volumes:
      - ./logs:/app/logs